<div id="container">

<div class="title"><h1>Edit {{name}}</h1></div>

<form action="/cats/{{ id }}" accept-charset="UTF-8" method="post">
  <div class="catcreate"><input placeholder="{{ name }}" type="text" name="name" value="{{name}}" /></div>
  <div class="catcreate"><input placeholder="{{ image }}" type="url" name="image" value="{{image}}"/></div>
  <div class="catcreate"><textarea placeholder="{{ lifestory }}" name="life-story" value="{{lifestory}}"></textarea></div>
  <input type="hidden" name="lives" value="{{lives}}"/>
  <div class="catcreate"><input id="submit" type="submit" name="commit" value="Submit" /></div>
</form>

<div id="back"> <a href="/cats">nevermind</a></div>


</div>
<div id="meow"> </div>
